In [55]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [56]:
df=pd.read_csv("creditcard.csv")

In [57]:
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [58]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [59]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [61]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.758702e-12,-8.252296e-13,-9.637438e-13,8.316234e-13,1.592013e-13,4.247308e-13,-3.050183e-13,8.692882e-14,-1.179710e-12,...,-3.406538e-13,-5.713357e-13,-9.725290e-13,1.464144e-12,-6.989090e-13,-5.615254e-13,3.332111e-12,-3.518885e-12,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [62]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [63]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [64]:

legit = df[df.Class == 0]
fraud = df[df.Class == 1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [65]:
# compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [82]:
legit_sample = legit.sample(n=492)#under_sampling
print(legit_sample)

            Time        V1        V2        V3        V4        V5        V6  \
117971   74894.0  0.882403 -1.423050  0.749352 -0.686496 -1.297457  0.589142
247982  153755.0 -0.419945  0.344979  0.475565 -0.982053  0.588868 -0.549137
216687  140588.0 -1.265701 -0.476009  1.904808 -2.482094 -0.021416  0.255362
189281  128331.0  1.965731 -1.040430 -0.802582 -1.896176 -1.227326 -1.410291
133808   80539.0 -0.637195  0.964879  1.569705 -0.346351  0.313923 -1.118235
...          ...       ...       ...       ...       ...       ...       ...
151848   96367.0  1.482372 -1.338111 -1.970797 -0.363574  1.622261  3.867924
169446  119709.0  0.084017  0.042448 -0.296013 -1.868781  2.243907  3.949368
26985    34336.0  0.833102 -0.458544 -0.682415  1.180078  0.496093  0.499968
122897   76734.0  1.039077 -0.791895  0.770350  0.498536 -1.139482  0.231174
195156  130925.0  2.064343  0.087018 -1.746947  0.417267  0.376367 -0.863504

              V7        V8        V9  ...       V21       V22       V23  \
117971 -1.055698  0.328158 -0.641908  ...  0.599282  1.278976 -0.215955
247982  0.566610 -0.103012  0.550752  ...  0.146824  0.493511 -0.111055
216687  0.840121 -0.354577 -0.041444  ... -0.505188 -0.690234  0.127037
189281 -0.557963 -0.182086  2.757969  ...  0.261304  0.871582  0.043924
133808  0.802914 -0.100149 -0.512894  ... -0.196694 -0.694813 -0.069508
...          ...       ...       ...  ...       ...       ...       ...
151848 -0.898164  0.853143  2.476646  ...  0.232046  0.408172 -0.054511
169446 -0.481163  1.132374  0.672020  ...  0.248727  0.793812 -0.099205
26985   0.552388 -0.093385  0.059458  ...  0.050051 -0.176118 -0.506395
122897 -0.813889  0.260635 -0.843764  ... -0.124509 -0.129677 -0.034514
195156  0.150034 -0.198199  0.594995  ... -0.371211 -1.011416  0.334617

             V24       V25       V26       V27       V28  Amount  Class
117971 -0.242371  0.170272 -0.026235  0.029668  0.040783  199.00      0
247982  0.537086 -0.479257  1.287579 -0.107298 -0.014935   64.98      0
216687  0.605370  0.426526 -0.625928 -0.107554 -0.608213   88.00      0
189281  0.050652 -0.025491 -0.748791  0.059914 -0.029200   62.10      0
133808  0.321931 -0.170292 -0.047584  0.040694  0.118298    1.29      0
...          ...       ...       ...       ...       ...     ...    ...
151848  0.656239 -0.144328 -0.607583  0.002873 -0.000180  265.50      0
169446  0.738803 -0.389363  0.071733  0.111106  0.045901    1.00      0
26985  -1.289488  0.878243 -0.170931 -0.018780  0.038638  242.78      0
122897 -0.047194  0.204953 -0.292604  0.055417  0.037460  102.00      0
195156  0.464582 -0.275576  0.176369 -0.068372 -0.031128    8.99      0

[492 rows x 31 columns]

In [67]:
new_df = pd.concat([legit_sample, fraud], axis=0)#Concatenating two DataFrames, axis=0(rows)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
170230,120078.0,1.862858,-0.391327,-0.065330,1.269659,-0.558780,0.268823,-0.773255,0.185730,1.204761,...,0.064767,0.228104,0.273512,0.552881,-0.340297,-0.781340,0.067724,-0.008463,45.00,0
88857,62325.0,-1.166341,-0.292310,2.466487,-0.064961,-0.106849,-0.038989,0.319109,0.203298,-0.188564,...,0.087010,-0.081184,0.184935,0.163285,-0.111552,0.326902,-0.196138,-0.148144,117.03,0
66514,52087.0,-1.725208,-0.494565,2.538397,-1.170503,0.998099,1.441593,-0.386772,0.961798,0.092217,...,0.232626,0.447232,0.066369,-1.033709,0.026306,0.287410,0.012849,0.047529,50.00,0
284337,172353.0,2.055967,-0.117272,-1.656737,0.031798,0.501477,-0.284284,0.056573,-0.090074,0.405112,...,0.265534,0.840592,-0.026310,0.247591,0.289836,-0.128156,-0.028872,-0.066929,5.99,0
65506,51619.0,1.475176,-1.552239,1.414503,-1.164315,-2.317979,0.232312,-2.081512,0.263922,-0.427967,...,-0.058804,0.445610,-0.086238,-0.148826,0.338511,0.061624,0.098353,0.027769,5.00,0

In [68]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [69]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93811.365854,0.007896,-0.026806,0.025212,0.088429,0.003927,0.035420,0.023823,0.033230,-0.027986,...,0.019950,0.002299,-0.042648,-0.037234,-0.036143,-0.015432,-0.011625,0.013862,0.001778,92.607663
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [70]:
#Splitting the data into Features & Targets
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [72]:
print(X_train.shape,  X_test.shape, Y_train.shape, Y_test.shape)

(787, 30) (197, 30) (787,) (197,)

In [73]:
model = LogisticRegression()
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

D:\anaconda3\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
# accuracy on training data
y_prediction_train = model.predict(X_train)
training_data_accuracy = accuracy_score(y_prediction_train, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9390088945362135

In [75]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_prediction_train, Y_train))
print(confusion_matrix(y_prediction_train, Y_train))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94       407
           1       0.92      0.96      0.94       380

    accuracy                           0.94       787
   macro avg       0.94      0.94      0.94       787
weighted avg       0.94      0.94      0.94       787

[[376  31]
 [ 17 363]]

In [76]:
# accuracy on test data
y_prediction_test = model.predict(X_test)
test_data_accuracy = accuracy_score(y_prediction_test, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.8934010152284264

In [77]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_prediction_test, Y_test))
print(confusion_matrix(y_prediction_test, Y_test))

              precision    recall  f1-score   support

           0       0.91      0.88      0.90       102
           1       0.88      0.91      0.89        95

    accuracy                           0.89       197
   macro avg       0.89      0.89      0.89       197
weighted avg       0.89      0.89      0.89       197

[[90 12]
 [ 9 86]]

 **Save the Model**

In [78]:
import pickle

In [79]:
pickle.dump(model,open('CCFD','wb'))

**Predict by loading our model**

In [80]:
loaded_model=pickle.load(open('CCFD','rb'))

In [81]:
loaded_model.predict(X_test)

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0],
      dtype=int64)